{% extends 'base.html' %}
{% load static %}



{% block content %}
<style>

#fb{
	width:500px;
	border:none;
	background-color: white;
	border-radius:5px;
	height:160px;
	margin-left: 33vw;
	margin-top: 2vw;
    position: relative;
    padding-top: -2vw;
  }
  #fb p{
	font-family:sans-serif;
	margin: 0 0 0 10px;
	line-height:30px;
  }
  
  #fb img{
	position:absolute;
	left:10px;
	top:52.5px;
	border-radius: 60%;
	background-size: cover;
	object-fit: cover;
  }
  
  #info{
	position:absolute;
	left:120px;
	top:75px;
  }
  
  #info {
	color:#4267B2;
	line-height:25px;
	font-size:18px;
  }
  
  #info span{
	color:#777;
	font-size:14px;
  }
  
  #button-block{
	position:absolute;
	right:10px;
	top:85px;
  }
  
  #button-block div{
	display:inline-block;
  }
  
  #confirm, #delete{
	background-color:#4267B2;
	color:white;
	padding:7px;
	border-radius:2px;
	margin-right:10px;
	font-family:sans-serif;
  }
  
  #delete{
	color:#222;
	background-color:#bbb;
	border:1px solid #999;
	padding:6px;
	margin-right:0;
  }
  
  #button-block div:hover{
	opacity:.8;
	cursor:pointer;
  }
  body{
      background-color: #385591;
  }
  
  
  
  

</style>
    
    
    <form class="input-group " style="width: 40vw; margin-left: 30vw; margin-top: 1.7vw">
  <input value="{{ search }}" name="q" style="padding: 0.5vw" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <button type="submit" class="btn btn-outline-warning" data-mdb-ripple-init>search</button>
</form>

    
    
    
    {% for i in followers %}
    <div id="fb" style="margin-bottom: 1vw">
		<div style="position: relative;">
			<img src="{{ i.image.url }}" height="100" width="100">
			<p id="info"><b>{{ i.username }}</b> <br> <span><b>{{ i.profile.followed.all.count }}</b> <i>followers</i></p>
			<div id="button-block">
                <a href="{% url 'user-detail' i.id %}" id="confirm">Go profile</a>
				<a id="delete">Go chat</a>
			</div>
		</div>
	</div>
    {% endfor %}
    
      
    
    
    
    
<script>
import { Ripple, initMDB } from "mdb-ui-kit";

initMDB({ Ripple });
</script>
{% endblock content %}