



* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

:root{
  --body-color:#efefef;
  --nav-color:#385591;
  --bg-color:#fff;
}
.dark-theme{
  --body-color:#0a0a0a;
  --nav-color:#000;
  --bg-color:#000;
}



body {
  background:var(--body-color);
  transition: background 0.3s;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--nav-color);
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  width: 160px;
  margin-right: 45px;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}
.nav-left ul li {
  list-style: none;
  display: inline-block;
}
.nav-left ul li img {
  width: 28px;
  margin: 0 15px;
}

.nav-user-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}
.nav-user-icon {
  margin-left: 30px;
}
.search-box {
  background: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.search-box img {
  width: 18px;
}
.search-box input {
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}
.online {
  position: relative;
}
.online::after {
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41db51;
  position: absolute;
  top: 0;
  right: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;
}
.left-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
}
.right-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  background: var(--bg-color);
  padding: 20px;
  border-radius: 4px;
  color: #626262;
}
.main-content {
  flex-basis: 47%;
}
.imp-links a,
.shortcut-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #626262;
  width: fit-content;
}
.imp-links a img {
  width: 25px;
  margin-right: 15px;
}
.imp-links a:last-child {
  color: #385591;
}
.imp-links {
  border-bottom: 1px solid #ccc;
}

.shortcut-links a img {
  width: 40px;
  border-radius: 4px;
  margin-right: 15px;
}
.shortcut-links p {
  margin: 25px 0;
  color: #626262;
  font-weight: 500;
}
.sidebar-tittle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.right-sidebar h4 {
  font-weight: 600;
  font-size: 16px;
}
.sidebar-tittle a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #626262;
  width: fit-content;
}
.event {
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
}

.fa-xl{
    position: relative;
    margin-top: 2vw;
    margin-right: 2vw;
    color: white;
    cursor: pointer;
  }

  .fa-xl:hover{
    color: #3aff65;
    transition: 0.2s ease-in-out;
  }

  .left-sidebar a .fa-2xl{
    position: relative;
    margin-top: 1vw;
    margin-right: 1vw;
    color: #385591;
    cursor: pointer;
  }
  .left-sidebar .imp-links a {
    font-size: 1.1vw;
    margin-top: 2vw;
  }


.left-event {
  border-radius: 10px;
  height: 65px;
  width: 65px;
  margin-right: 15px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event p {
  font-size: 12px;
  text-decoration: none;
  color: gray;
}
.left-event span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #385591;
  color: #fff;
  font-size: 10px;
  padding: 4px 0;
}

.sidebar-ads {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}
.online-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.online-list .online img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.online-list .online {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.online-list .online::after {
  top: unset;
  bottom: 5px;
}
.story-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.story {
  flex-basis: 18%;
  padding-top: 32%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.story img {
  position: absolute;
  width: 45px !important;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  top: 10px;
  left: 10px;
  border: 3px solid #385591;
}
.story p {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
}


.story.story1 img{

    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;

}
.right-event i{
    margin: 3px;
}
.write-post-cotainer{
  width: 100%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  color: #626262;
}
.user-profile{
  display: flex;
  align-items: center;
}
.user-profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.user-profile p {
  margin-bottom: -5px;
  font-weight: 500;
  color: #626262;
}
.user-profile small {
  font-size: 12px;

}
.post-input-container{
  padding-left: 55px;
  padding-top: 20px;
}
.post-input-container textarea{
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  resize: none;
}
.add-post-links{
  display: flex;
  margin-top: 10px;
}
.add-post-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #626262;
  margin-left: 30px;
  font-size: 12px;
}
.add-post-links a img{
  width: 20px;
  margin-right: 10px;

}
.post-container{
  width: 100%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  margin: 20px 0;
}
.user-profile span{
  font-size: 11px;
  color: #626262;
}
.post-text{
  color: #9a9a9a;
  margin: 15px 0;
  font-size: 15px;
}
.post-text span{
  color: #626262;
  font-weight: 500;
}
.post-text a{
  text-decoration: none;
  color: #385591;
  font-size: 14px;
}
.post-img{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 4px;
}
.post-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activity-icons div img{
  width: 18px;
  margin-right: 10px;
}
.activity-icons div{
  display: inline-flex;
  margin-right: 30px;
  align-items: center;

}
.post-profile-icon{
  display: flex;
  align-items: center;
}
.post-profile-icon img{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;

}
.post-row a{
  color: #9a9a9a;
}

.Load-More-btn{

  display: block;
  margin: auto;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #9a9a9a;
  color: #626262;
  background: transparent;
  border-radius: 4px;
}
.footer{
  text-align: center;
  color: #626262;
  padding: 10px 0 20px;
  font-size: 13px;
}
.Load-More-btn:hover{
  background: #385591;
  color: #fff;
}
.settings-menu{
  position: absolute;
  width: 20% ;
  max-width: 350px;
  background: var(--bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0,0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 108%;
  right: 5%;
  max-height: 0 ;
  transition: max-height 0.3s ;
}

.settings-menu-height{
  max-height: 450px;
}


.user-profile a{
  font-size: 12px;
  color:#385591;
  text-decoration: none;

}

.settings-menu-inner{
  padding: 20px;
}

.settings-menu hr{
  border: 0;
  height: 1px;
  background: #9a9a9a;
  margin: 15px 0;
}

.settings-links{
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.settings-links .settings-icon{
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;

}
.settings-links a{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #626262;
}

#dark-btn{
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ccc;
  width: 45px;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;

}

#dark-btn.dark-btn-on{
  padding-left: 23px;
  background:#626262;
}








